/* Carousel Styles */
.carousel {
  position: relative;
  width: 784px; /* Width of the images */
  height: 522px; /* Height of the images */
  overflow: hidden;
  margin: 0 auto; /* Center the carousel */
}

.slide {
  display: flex;
  width: calc(784px * 4); /* Width of all images combined */
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 784px; /* Width of the images */
  height: 522px; /* Height of the images */
  object-fit: cover;
  flex-shrink: 0;
}

/* Button Styles */
.back, .next {
  background-color: #fff;
  border: 1px solid;
  color: gray;
  border-radius: 50%;
  width: 30px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.back {
  left: -40px;
}

.next {
  right: -40px;
}

.BUttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Additional Styles */
.imgs {
  overflow-x: hidden;
  width: 784px; /* Width of the container matching the image width */
  margin: 0 auto;
  position: relative;
}

.category {
  margin-top: 23px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  width: 140px;
  text-align: center;
  cursor: pointer;
  margin-top: 4px;
}

.category:active {
  background: #078edd;
  color: aliceblue;
}

.internships {
  margin-top: 45px;
  background: #fafafa;
  white-space: nowrap;
  position: relative;
  overflow-x: hidden;
}

.int-1 {
  width: 80%;
  margin-left: 23px;
  background: #ffff;
  box-shadow: 0px 0px 2px -2px black;
  border-radius: 12px;
}

.int-1 p, .int-1 span, .int-1 small {
  margin-left: 7px;
}

#boxer {
  width: 150px;
  margin-left: 12px;
  border: 1px solid #dddddd;
}

.log {
  position: relative;
  left: 35%;
}

.info-inter, .info-job, .infoys {
  background: #fafafa;
}

.internShip-Info {
  width: 116%;
  position: relative;
  height: 291px;
}

#buttons {
  position: relative;
  left: 53%;
  top: 24%;
  width: 180px;
  font-size: 16px;
  display: flex;
}

.btn6 {
  margin-left: 24px;
  width: 180px;
  margin-top: 5px;
  background: white;
  outline: none;
}

.log {
  background: #0665c9;
}

.logins {
  background: #0665c9;
  text-align: center;
  font-weight: bold;
}

.BUttons {
  margin: 22px;
}

#admin {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .internships {
      width: 90%;
      background: #fafafa;
      white-space: nowrap;
      position: relative;
      left: 3%;
      overflow-x: scroll;
  }
  .int-1 {
      width: 100%;
      height: 90%;
      margin-left: 4rem;
  }
  .back, .next {
      display: none;
  }
  .slide_Img {
      width: 45%;
  }
  #imageSlider img {
      height: 100%;
      flex-shrink: 0;
      width: 200px;
      margin-right: 8px;
  }
  .log {
      position: relative;
      left: 0%;
  }
  .imgs {
      overflow-x: scroll;
  }
}

@media (max-width: 480px) {
  .logins {
      display: none;
  }
  .slide_Img {
      width: 80%;
  }
}

